@import "tailwindcss";

@theme {
  --font-family-sans: 'Google Sans', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

